@font-face {
  font-family: "CeraProRegular";
  src: local("CeraProRegular"),
  url("./@Assets/fonts/Cera-Pro/CeraProRegular.otf") format("opentype"),
  url("./@Assets/fonts/Cera-Pro/CeraProRegular.woff") format("woff"),
  url("./@Assets/fonts/Cera-Pro/CeraProRegular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
