name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - dev
      - staging
      - main

jobs:
  test_and_build:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Test Job
    steps:
      - uses: actions/checkout@v3
      - run: yarn
      - run: yarn test
      - run: yarn build

  build_and_deploy_for_production:
    if: github.ref == 'refs/heads/main'
    environment: production
    needs: test_and_build
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build And Deploy For Production
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_SALMON_PLANT_0D380D910 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          production_branch: "main"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "/" # App source code path
          api_location: "" # Api source code path - optional
          output_location: "build" # Built app content directory - optional
          ###### End of Repository/Build Configurations ######
        env: # Add environment variables here
          REACT_APP_ENDPOINT_URL: ${{ secrets.REACT_APP_ENDPOINT_URL }}
          REACT_APP_S3: ${{ secrets.REACT_APP_S3 }}
          REACT_APP_STRIPE_PKEY: ${{ secrets.REACT_APP_STRIPE_PKEY }}
          REACT_APP_GOOGLE_MAP_API_KEY: ${{ secrets.REACT_APP_GOOGLE_MAP_API_KEY }}
          REACT_APP_AZURE_MAP_API_KEY: ${{ secrets.REACT_APP_AZURE_MAP_API_KEY }}
          REACT_APP_TAWK_TO_PROPERTY_ID: ${{ secrets.REACT_APP_TAWK_TO_PROPERTY_ID }}
          REACT_APP_TAWK_TO_TASK_ID: ${{ secrets.REACT_APP_TAWK_TO_TASK_ID }}
          REACT_APP_TAWK_TO_ENABLED: ${{ secrets.REACT_APP_TAWK_TO_ENABLED }}
          REACT_APP_BRANCH: ${{ secrets.REACT_APP_BRANCH }}
          DISABLE_ESLINT_PLUGIN: ${{ secrets.DISABLE_ESLINT_PLUGIN }}

  build_and_deploy_for_staging:
    if: github.ref == 'refs/heads/dev' && github.ref == 'refs/heads/staging'
    environment: staging
    needs: test_and_build
    runs-on: ubuntu-latest
    name: Build and Deploy Job For Staging
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_SALMON_PLANT_0D380D910 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          production_branch: "main"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "/" # App source code path
          api_location: "" # Api source code path - optional
          output_location: "build" # Built app content directory - optional
          ###### End of Repository/Build Configurations ######
        env: # Add environment variables here
          REACT_APP_ENDPOINT_URL: ${{ secrets.REACT_APP_ENDPOINT_URL }}
          REACT_APP_S3: ${{ secrets.REACT_APP_S3 }}
          REACT_APP_STRIPE_PKEY: ${{ secrets.REACT_APP_STRIPE_PKEY }}
          REACT_APP_GOOGLE_MAP_API_KEY: ${{ secrets.REACT_APP_GOOGLE_MAP_API_KEY }}
          REACT_APP_AZURE_MAP_API_KEY: ${{ secrets.REACT_APP_AZURE_MAP_API_KEY }}
          REACT_APP_TAWK_TO_PROPERTY_ID: ${{ secrets.REACT_APP_TAWK_TO_PROPERTY_ID }}
          REACT_APP_TAWK_TO_TASK_ID: ${{ secrets.REACT_APP_TAWK_TO_TASK_ID }}
          REACT_APP_TAWK_TO_ENABLED: ${{ secrets.REACT_APP_TAWK_TO_ENABLED }}
          REACT_APP_BRANCH: ${{ secrets.REACT_APP_BRANCH }}
          DISABLE_ESLINT_PLUGIN: ${{ secrets.DISABLE_ESLINT_PLUGIN }}